<mat-accordion multi="True">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total duration is 3 hours;
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Hi there ! I am Biswaraj Baral. I love coding in Django and
      Angular. </p>
    <mat-action-row>
      <button mat-button>SignUp</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Mateials
      </mat-panel-title>
      <mat-panel-description>
        Total duration is 2 hours;
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Hi there ! I am Biswaraj Baral. I love coding in Django and
      Angular. </p>
    <mat-action-row>
      <button mat-button>SignUp</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
