<!--MATERIAL CHECKBOX-->
<mat-checkbox>Subscribte</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
  Apply
</mat-checkbox>
<br>

<mat-checkbox labelPosition="before" color="primary">
  Follow
</mat-checkbox>
<mat-divider></mat-divider>
<br>

<!--MATERIAL RADIO BUTTON-->
<mat-radio-group>
  <mat-radio-button value="Angular">Angular</mat-radio-button>
  <mat-radio-button value="React">React</mat-radio-button>
  <mat-radio-button value="Vue">Vue</mat-radio-button>
  <mat-radio-button value="ReactNative">ReactNative</mat-radio-button>
</mat-radio-group>
